html {
  scroll-behavior: smooth;
}

a {
  color: #000;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
}

/* disable phonenumber styling in safari*/
a[href^=tel] {
   text-decoration:inherit;
   color: inherit;
}

.top {
  background-color:#fff;
  width:100%;
  display: flex;

  .logo {
    background-image: url('/assets/img/ffot-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-top:15px;
    height:75px;
  }

  .navigation {
    font-size: 14pt;
    justify-content: space-between;
    display:inline-flex;
    max-width: 500px;
    width:100%;


    nav {
      display:flex;
      margin:55px 0px 25px 0;
      justify-content: center;
    }
  }
}

.corona {
  font-size: 16pt;
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

.hva-bgcolor {
  background-color:rgb(238, 48, 34);
}

.kompetanse-bgcolor {
  background-color:#ccc;
}

.kontakt-bgcolor {
  background-color:#181818;
  color:#FFF;
}
.page-section {

}

.img-barcode {
  color: #fff;
  background-color:#000;
  background-image: url('/assets/img/barcode.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

@media only screen and (min-width: 1024px) {
  .img-excercise {
    background-size: 100% auto;
    background-position: left center;
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 1024px) {
  .img-excercise {
    background-size: cover;
    background-position: right;
  }
}

.img-excercise {
  color: #000;
  background-image: url('/assets/img/sykler-moller.JPG');
  background-repeat: no-repeat;
}

.img-ffot {
  color: #fff;
  background-color:#000;
  background-image: url('/assets/img/ffot.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}


.about-section {
  width:100%;
  min-height:400px;
  display:flex;

  h1 {
    font-size:30pt;
    font-weight:normal;
    font-shadow: 1px 1px 8px #fff;
    margin-top: 50px;
    margin-bottom: 50px;

  }

  h2 {
    font-size:20pt;
    font-weight:normal;
    font-shadow: 1px 1px 8px #fff;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .kontakt-link {
    border: 2px solid #000;
    padding:8px 30px;
    margin-top:30px;
    display:inline-flex;
    #background-color:#000;
    #color: #fff;
    border-radius: 3px;
    font-size:14px;
  }
}

.header-section {
  width:100%;
  min-height:300px;
  display:flex;

  h1 {
    display:inline;
    font-size:32pt;
    font-weight:normal;
    //color: rgb(238, 48, 34);
    color: #fff;
  }
}

@media only screen and (min-width: 1024px) {
  .col-1 {
    width:30%;
    max-width:200px;
  }

  .col-2 {
    width:70%;
    padding:0 4%;
    max-width:1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .col-1 {
    display:none
  }

  .col-2 {
    width:100%;
    padding:0 4%;
  }

}

.trainer{
  float: left;
  width: 45%;
  padding: 10px 10px 10px 0px;
}

.trainer div {
  height: 250px;
  padding: 0 10px 10px 0;
  margin: 0px;
}

.trainer #borge{
  background-image: url('/assets/img/borge-nilsen.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.trainer #david{
  background-image: url('/assets/img/david.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.row {
  max-width: 1000px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 1024px) {
  .trainer {
    width: 100%;
  }
}

.header-body {
  width:100%;
  display: flex;
  align-items: center;
  height:100%;
}

.about-body {
  width:100%;
  margin-top:5%;
  margin-bottom:40px;

  box-sizing: border-box;
  p {
    line-height:1.5;
  }
}

.contact-section{
  float: left;
  width: 45%;
  padding: 10px 10px 10px 0px;

  h2 {
    margin-top: 0;  
  }
}

@media only screen and (max-width: 1024px) {
  .contact-section {
    width: 100%;
  }
}

@-webkit-keyframes imagesFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 @-moz-keyframes imagesFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 @-o-keyframes imagesFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 @keyframes imagesFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
 }
 
 
 #images img {
   -webkit-animation-name: imagesFadeInOut;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 8s;
 
   -moz-animation-name: imagesFadeInOut;
   -moz-animation-timing-function: ease-in-out;
   -moz-animation-iteration-count: infinite;
   -moz-animation-duration: 8s;
 
   -o-animation-name: imagesFadeInOut;
   -o-animation-timing-function: ease-in-out;
   -o-animation-iteration-count: infinite;
   -o-animation-duration: 8s;
 
   animation-name: imagesFadeInOut;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-duration: 8s;
 }
 #images img:nth-of-type(1) {
   -webkit-animation-delay: 6s;
   -moz-animation-delay: 6s;
   -o-animation-delay: 6s;
   animation-delay: 6s;
 }
 #images img:nth-of-type(2) {
   -webkit-animation-delay: 4s;
   -moz-animation-delay: 4s;
   -o-animation-delay: 4s;
   animation-delay: 4s;
 }
 #images img:nth-of-type(3) {
   -webkit-animation-delay: 2s;
   -moz-animation-delay: 2s;
   -o-animation-delay: 2s;
   animation-delay: 2s;
 }
 #images img:nth-of-type(4) {
   -webkit-animation-delay: 0;
   -moz-animation-delay: 0;
   -o-animation-delay: 0;
   animation-delay: 0;
 }

#images {
  position:relative;
  margin:0 auto;
}

#images img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
